<div class="my-8 sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Register to your account</h2>
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <form class="space-y-6" id="signUp">    
            <label class="block text-sm font-medium text-gray-700">Username</label>
            <input type="text" name="" placeholder="Enter Username" id="username" class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
            <span class="usernameError text-red-500"></span><br>
            <label class="block text-sm font-medium text-gray-700">Password</label>
            <input type="password" name="" placeholder="Enter Password" id="password" class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
            <span class="passwordError text-red-500"></span><br>
            <button class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Sign Up</button>
        </form>
    </div>
</div>

<app-footer-component></app-footer-component>