<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
      @for (pmenu of menus ; track pmenu.id) {
        <li *ngIf="pmenu.parent==0" class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ pmenu.url }}">{{ pmenu.title }}</a>
          <ul *ngIf="checkChildrent(pmenu.id)" class="dropdown-menu">
            @for (smenu of menus ; track smenu.id) {
              <li *ngIf="smenu.parent==pmenu.id" class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ smenu.url }}">{{ smenu.title }}</a>
              </li>
            }
          </ul>
        </li>
      }  
      </ul>
      <a (click)="logout()">Đăng xuất</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      
    </div>
  </div>
</nav>

 -->




  <nav>
    <div class="items-center inline">
      <div class="flex justify-between h-16 px-10 shadow items-center">
        <div class="flex items-center space-x-8">
          <a href="/" class="no-underline text-black"><h1 class="text-xl lg:text-2xl font-bold cursor-pointer">Tech Wave</h1></a>
        </div>
        <div class="flex space-x-4 items-center">
          @for (pmenu of menus ; track pmenu.id) {
          <div *ngIf="pmenu.parent==0" class="flex gap-4">
                  <div>
                    <a href="{{ pmenu.url }}" class="signup bg-indigo-600 px-4 py-2 rounded text-white hover:bg-indigo-500 text-sm no-underline">{{ pmenu.title }}</a>
                  </div>
                  <ul *ngIf="checkChildrent(pmenu.id)" class="dropdown-menu">
                    @for (smenu of menus ; track smenu.id) {
                      <li *ngIf="smenu.parent==pmenu.id" class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ smenu.url }}">{{ smenu.title }}</a>
                      </li>
                    }
                  </ul>
        </div>
      }
      </div>
    </div>
  </div>
</nav>
