
<div class="flex flex-col w-56 bg-white rounded-r-3xl overflow-hidden">
  <div class="flex items-center justify-center h-20 shadow-md">
  <a href="/dashboard"class="text-3xl uppercase text-indigo-500 no-underline"><h1>Logo</h1></a> 
  </div>
  <ul class="flex flex-col py-4">
    <li>
      <a href="/dashboard/product" class="flex flex-row items-center no-underline h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-shopping-bag"></i></span>
        <span class="text-sm font-medium">Product</span>
      </a>
    </li>
    <li>
      <a href="/dashboard/category" class="flex flex-row items-center no-underline h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-home"></i></span>
        <span class="text-sm font-medium">Category</span>
      </a>
    </li>
    <li>
      <a href="/users" class="flex flex-row items-center no-underline h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-user"></i></span>
        <span class="text-sm font-medium">User</span>
      </a>
    </li>
    <li>
      <a href="/" class="flex flex-row items-center no-underline h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-log-out"></i></span>
        <span class="text-sm font-medium">Logout</span>
      </a>
    </li>
  </ul>
</div>
